<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %> </div>

    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">

            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>

            <div class="description">
                <!-- EJS (-) outputs value of code on the page -->
                <p><%- blog.body %></p>
            </div>

            <a class="ui teal button" href="/blogs/<%= blog._id %>/edit">Edit Post</a>

            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <input class="ui red small button" type="submit" value="Delete Post">
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer') %>